body {
    background-color: #F7F7F7;
    font-family: "Jost", sans-serif;
    font-optical-sizing: auto;
    font-weight: 300; /* 100 - 900 */
    font-style: normal;
    margin: 0;
    padding: 0;
}

.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 80px;
    background-color: #E5C184;
    color: #59200A;
    font-weight: 700;
    padding: 0 7%; /* padding 0% in alto e in basso, padding 7% a sinistra e destra*/
}

.nav-buttons {
    display: flex;
    gap: 20px;
    justify-content: space-between;
    padding: 0 6%;
    height:100%;
    align-items: center;
}

.nav-buttons li{
    list-style-type: none;
    font-size: 1.3rem;
    padding: 10px 15px;
    border-bottom: 3px solid #F7F7F7;
    transition: background-color 0.3s ease, transform 0.2s ease;
    cursor: pointer;
}

.nav-buttons li:hover {
    background-color: #F7F7F7; /* colore di sfondo in hover */
    transform: translateY(-2px); /* leggera elevazione */
}

.title-section {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 85vh; /* 85% dell'altezza viewport */
  overflow: hidden;
}

.title-video {
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover; /*fa in modo che il video venga ritagliato in modo che occupi il 100% della larghezza della pagina*/
  z-index: 0;
}

.overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6); /*per "annerire" l'overlay (quindi il video)*/
  z-index: 1;
}

.title-content {
    position: absolute;
    z-index: 2;
    color: #F7F7F7;
    text-align: center;
}

.title-content > h1 {
    font-weight: 800; /* 100 - 900 */
    font-style: normal;
    font-size: 6rem;
    margin: 0;
}

.title-content > h2 {
    font-weight: 700; /* 100 - 900 */
    font-style: normal;
    font-size: 3rem;
}

.title-content > p {
    font-weight: 500; /* 100 - 900 */
    font-style: normal;
    font-size: 1.3rem;
    margin: 0;
}

.title-text {
    display: flex;
    margin: 50px;
    padding: 0 6%;  
}

.title-text--title {
    min-width: 30%;
    font-size: 3rem;
    text-align: center;
}

.title-text--p {
    width: auto;
    padding: 2% 5% 2% 4%;
    font-size: 1.3rem;
    font-weight: 350; /* 100 - 900 */
    border-left: 3px solid #59200A;
}

.brown {
    color: #59200A;
}

.title-cards {
    display: grid;
    gap: 2rem;
    height: 80vh;
    grid-template-columns: 1fr 2fr 0.6fr 2fr 0.6fr 2fr 1fr;
    grid-template-rows: 1fr 2.5fr 0.8fr 2.5fr 0.5fr;
    background-color: #E5C184;
}

.title-cards--title {
    grid-area: 1/3/2/6;
    justify-items: center;
    text-align: center;
    font-size: 2rem;
}

.card {
    background-color: #d4b06a; 
    border-radius: 1%;
    padding: 10%;
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1.5px solid #d4b06a;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}

.first {
    grid-area: 2/2/5/3;
}

.second {
    grid-area: 2/4/5/5;
}

.third {
    grid-area: 2/6/5/7;
}

.card--img {
    width: 100%;
    height: 40%;
    object-fit: cover; /*fa in modo che il video venga ritagliato in modo che occupi il 100% della larghezza della pagina*/
}

.card--title {
    font-size: 1.7rem;
    height: 10%;
    margin: 8% 0;
    font-weight: 700; /* 100 - 900 */
    border-bottom: 1px solid #59200A;
}

.card--p {
    height: auto;
    font-size: 1.3em;
    text-align: center;
    font-weight: 500; /* 100 - 900 */
}

footer {
    display: grid;
    grid-template-columns: 3fr 1fr 3fr;
    grid-template-rows: 0.5fr 2fr 1fr;
    height: 30vh;
    gap: 5px;
    background-color: #59200A;
    margin-top: 15vh;
    justify-items: center;
    align-items: center;
    padding: 0 10%;
}

.footer--logo-container {
    grid-area: 3/1/4/2;
}

.footer--links-container {
    grid-area: 2 / 1 / 3 / 4;
    width: 100%;
    height: 100%;
    border-bottom: 2px solid #F7F7F7;
}

.footer--links-container > ul  {
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style-type: none;
    padding-left: 0;
    height: 100%;
    margin:0;
}

.footer--links-container li  {
    margin: 10px;
}

.footer--links-container > ul > li > a {
    color:#F7F7F7;
    font-size: 1rem;
    font-weight: 400;
}

.footer--copyright-container {
    grid-area: 3 / 2 / 4 / 3;
}

.footer--copyright-container h5 {
    color:#F7F7F7;
    font-weight: 200;
}

.footer--socials-container {
    grid-area: 3 / 3 / 4 / 4;
}

.fa {
  padding: 20px;
  font-size: 30px;
  width: 50px;
  text-align: center;
  text-decoration: none;
  margin: 5px 2px;
}

.fa:hover {
    opacity: 0.7;
}

.fa-instagram {
  color: #F7F7F7;
}

.fa-linkedin {
    color:#F7F7F7;
}

.fa-facebook {
    color: #F7F7F7;
}


/* responsive - <=768px */
@media (max-width: 768px) {
    .navbar {
        flex-direction: column;
        align-items: center;
        gap: 0.5rem;
        height: auto;
        padding: 5% 0;
    }

    .nav-buttons {
        flex-direction: column;
    }

    .title-text {
        display: flex;
        flex-direction: column;
        margin: 50px;
        padding: 0 4%;  
    }

    .title-text--title {
        font-size: 2rem;
        text-align: center;
    }
    
    .title-text--p {
        width: auto;
        text-align: center;
        padding: 2%;
        font-size: 1.3rem;
        font-weight: 350; /* 100 - 900 */
        border-top: 3px solid #59200A;
        border-left: 0px;
    }

    .title-cards {
        display: flex;
        flex-direction: column;
        align-items: center; /* opzionale: per centrare le card */
        gap: 2rem; /* mantieni lo spazio tra le card */
        height: auto; /* utile per far crescere in altezza */
    }

    .card--title {
        font-size: 3rem;
    }

}